.Row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  jsutify-content: flex-start;
}

.Square {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-lign: top;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.Square[data-color] {
  cursor: not-allowed;
}
