.page-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.Row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.Square {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: top;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.Square[data-disabled="true"] {
  cursor: not-allowed;
}
